header{
    width: 100%;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}
.stepText{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stepText p{
    margin-top: 0%;
}
.stepText p:nth-of-type(2){
    padding: 1%;
    border-radius: 10px;
}
.childComponent{
text-align: center;
}
