
.appContainer{
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    padding-bottom: 10%;
    border-radius: 15px;
    background-color: rgba(127, 255, 255, 0.301);
}