
.progress-container {
  width: 30%;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progress-bar {
  height: 100%;
  background-color: #41ebf78f;
  transition: width 0.3s ease-in-out;
}
button{
  font-size: 16px;
  font-weight: bold;
  padding: 1%;
  margin: 1%;
  background-color:transparent;
   border-radius: 5px;
   transition: all 0.3s ease;
}
button:active{
background-color: rgba(127, 255, 212, 0.568);
transform: scale(0.95);
}
.progress-div{
  display: flex;
  justify-content: center;
}
p{
  font-size: 16px;
  font-weight: bold;
}
